// @keyframes spinner-border {
//   to {
//     transform: rotate(360deg) #{"/* rtl:ignore */"};
//   }
// }

:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 500ms;
}

a {
  text-decoration: none;
}



.search-form {
  width: 60px;
  display: flex;
  margin: 40px auto;
justify-content: center;
background-color: yellowgreen;
}

.search-input {
  font-size: 18px;
  flex-grow: 1;
  height: 40px;
  padding-left: 15px;
  border: 1px solid #303030;
  border-radius: 8px;
}

.search-btn {
  font-size: 14px;
  padding: 10px 20px;
  background: blue;
  color: yellow;
  border: none;
  text-transform: uppercase;
  margin-left: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
    transition: background-color var(--animation-duration) var(--timing-function);
}

.btn-primary {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #2ea55f;
  color: yellow;
  border: none;
  text-transform: uppercase;
  margin: 40px auto;
  display: flex;
  justify-content: center;  
    border: 1px solid #303030;
      border-radius: 8px;
  transition: background-color var(--animation-duration) var(--timing-function);
}

.button.is-hidden {
  display: none;
}

.button>.spinner.is-hidden {
  display: none;
}

.search-btn:hover,
.search-btn:focus {
  background-color: rgb(18, 18, 161);
}


.btn-primary:hover, 
.btn-primary:focus {
  background-color: rgb(16, 124, 16);
}


.gallery {
  display: flex;
  align-items: center;
  // max-width: 1140px;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: -15px;
    margin-left: auto;
      margin-right: auto;
}

.gallery li {
  margin: 15px;
}

.photo-card {
  width: 20rem;
  height: 20rem;
}

.gallery__item {
  position: relative;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__image:hover {
  transform: scale(1.25);
}

.gallery__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
  list-style: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  padding: 5px;
  justify-content: space-around;
  color: black;
}

.info-item {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  flex-direction: row;
  margin: 5px;
}



// $spinner-width-sm: 1rem;
// $spinner-height-sm: $spinner-width-sm;
// $spinner-border-width-sm: .2em;
// $spinner-vertical-align: -.125em;
// $spinner-animation-speed: .75s;

