<main>



<form class="search-form" id="search-form">
  <input type="text" class="search-input" name="searchQuery" autocomplete="off" placeholder="Search images..." />
  <button type="submit" class="search-btn">Search</button>
</form>

<div class="gallery gallery__item">

  <!-- Карточки изображений -->
</div>





<button type="button" class="btn btn-primary button" data-action="load-more">
  <span class="spinner spinner-border spinner-grow-sm is-hidden" role="status" aria-hidden="true"></span>
  <span class="label">
  Load more
  </span>
</button>



</main>


    <script type="module" src="./js/example.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
