<main>



<form class="search-form" id="search-form">
  <input type="text" class="search-input" name="searchQuery" autocomplete="off" placeholder="Search images..." />
  <button type="submit" class="search-btn">Search</button>
</form>

<ul class="gallery gallery__item">
    <!-- Карточки изображений -->
</ul>

<button type="button" class="btn btn-primary button" data-action="load-more">
  <span class="spinner spinner-border spinner-grow-sm is-hidden" role="status" aria-hidden="true"></span>
  <span class="label">
  Load more
  </span>
</button>

    <div class="scroll-guard"></div>

</main>


    <script type="module" src="./js/example.js"></script>
