<main>



<form class="search-form" id="search-form">
  <input type="text" class="search-input" name="searchQuery" autocomplete="off" placeholder="Search images..." />
  <button type="submit" class="search-btn">Search</button>
</form>

<div class="gallery">
  <!-- Карточки изображений -->
</div>




<button type="button" class="load-more">
  <span class="spinner-border spinner-border-sm spinner is-hidden" role="status" aria-hidden="true">
  </span>Load more</button>



</main>


    <script type="module" src="./js/example.js"></script>
    <!-- <script type="module" src="./js/fetchImages.js"></script> -->